body{
  background-color: #e6f2ff;
}

#playArea {
  width: 400px;
  height: 600px;
  position: relative;
  border-color: #808080;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin: auto;

}

.obj {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: teal;
  top:0px;
  color: white;
  border-radius: 5px 5px 20px 20px;
  text-align: center;
}

.blk{
  display: inline-block;  
}

/*Buttons*/

.btn {
display:inline-block;
padding: 10px 15px 11px !important;
font-size: 18px !important;
font-weight: bold;
color: #ffffff;
border-radius: 8px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

button#start
{
margin-left: 10px;
background-color: #57d6c7;
text-shadow: 1px 1px #57D6C7;
}

button#stop {
margin-left: 10px;
background-color: #F36C8C;
text-shadow: 1px 1px #F36C8C;
}

button#reset {
margin-left: 10px;
background-color: black;
text-shadow: 1px 1px black;
}