body{
  background-color: #e6f2ff;
}

#playArea {
  width: 400px;
  height: 600px;
  position: relative;
  border-color: #808080;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin-left: 200px;
  overflow: hidden;
}

.obj {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: teal;
  top:0px;
  color: white;
  border-radius: 5px 5px 20px 20px;
  text-align: center;
}

.blk{
  display: inline-block; 
  float:left;
  margin-left: 150px;
  vertical-align: middle;
}

/*Buttons*/
.btn {
width: 150px;
line-height: 3em;
display: block;
padding: 10px 15px 11px !important;
font-size: 18px !important;
font-weight: bold;
color: #ffffff;
border-radius: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #57D6C7;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#start
{
background-color: #57d6c7;
text-shadow: 1px 1px #57D6C7;
}

#stop {
background-color: #F36C8C;
text-shadow: 1px 1px #F36C8C;
}

#reset {
background-color: black;
text-shadow: 1px 1px black;
}